@page "/chat"
@inject HttpClient APIClient

<!-- 
    have a box for the chats to live 
        chat bubbles have the message with the username and timestamp above the bubble
    under the box is the form entry for the chat
    the form entry has a button to submit the chat

-->

<h1>Chat Room</h1>

<ul class="list-unstyled">
    @foreach (var message in messages)
    {
        <p class="m-0 fs-6">@message.Timestamp.ToShortTimeString()</p>
        <li class="border border-2 rounded-3 p-2 mb-3">@message.Text</li>
    }
</ul>

@code {
    @* public class User
    {
        public string Username { get; set; }
        public List<Message> Messages { get; set; }
    } *@

    public class Message
    {
        public string Text { get; set; }
        public string User { get; set; }
        public DateTime Timestamp { get; set; }
    }
        
    List<Message> messages = new List<Message>
    {
        new Message { Text = "Hello", User = "Ricky", Timestamp = DateTime.Now },
        new Message { Text = "How are you?", User = "Bobby" , Timestamp = DateTime.Now.AddMinutes(5) },
    };
}
